<a href="https://colab.research.google.com/github/sadasiva73/Python/blob/master/Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Kunal")

Kunal

In [3]:
list = ['maths','history','physics','engish']
list2 = [12,43,45,34,23]
print(list2)
print(list)
print(len(list2))
print(list[0:2])
print(min(list2))
print(max(list2))
print(sum(list2))
list.append('roboo')
print(list)
list.insert(0,'Machine')
print(list)
list.extend(list2)
print(list)
list.remove('Machine')
print(list)
list.pop()
print(list)
list.pop()
print(list)
tuple = (12,43,54,65)
print(tuple)

[12, 43, 45, 34, 23]
['maths', 'history', 'physics', 'engish']
5
['maths', 'history']
12
45
157
['maths', 'history', 'physics', 'engish', 'roboo']
['Machine', 'maths', 'history', 'physics', 'engish', 'roboo']
['Machine', 'maths', 'history', 'physics', 'engish', 'roboo', 12, 43, 45, 34, 23]
['maths', 'history', 'physics', 'engish', 'roboo', 12, 43, 45, 34, 23]
['maths', 'history', 'physics', 'engish', 'roboo', 12, 43, 45, 34]
['maths', 'history', 'physics', 'engish', 'roboo', 12, 43, 45]
(12, 43, 54, 65)

In [4]:
tuple = (12,34,56,78)
print(tuple)

(12, 34, 56, 78)

In [6]:
set = {12,34,56,78}
set2 = {23,56,43,78,766}
print(set2)
print(set)

{43, 78, 23, 56, 766}
{56, 34, 12, 78}

In [7]:
Message = 'Hi sadasiva'
Message1 = 'sada siva'
Message2 = Message + ', '+Message1
Message2 = '{},{}. Welcome!'.format(Message,Message1)
Mess2 = f'{Message.upper()},{Message1.lower()}.Welcome!'
print(Mess2)

HI SADASIVA,sada siva.Welcome!

In [9]:
i = -10
j =  23.87
print(i,j)

-10 23.87

In [12]:
mylist = ['maths','physics','computers','social']
print(mylist)
list1 = []
list1.extend(mylist)
print(list1)

['maths', 'physics', 'computers', 'social']
['maths', 'physics', 'computers', 'social']

In [0]:
list = ['hcl','capgimi','cognizat','infosys']
list1 = ['accenture','tech mahindra']
list.remove()
print(list)

TypeError: remove() takes exactly one argument (0 given)

In [0]:
print("Sada siva:")

Sada siva:

In [0]:
Message = 'sadasiva'
print(Message)
print(Message.upper())
print(Message.lower())
print(len(Message))
print(Message.count(0:7))
print(Message.find(sadda))
print(Message.replace(sada,rao))
Message1 = "sadasiva"
Message3 = Message + Message1
Print(Message3)

SyntaxError: invalid syntax (<ipython-input-18-2e8710a150ad>, line 6)

In [0]:
Message = "sada siva1"
Message1 = "sadasiva"
Message3 = Message + ', '+ Message1
print (Message3)

sada siva1, sadasiva

In [0]:
Message = "sada siva1"
Message1 = "sadasiva"
print(len.Message(sada))

AttributeError: 'builtin_function_or_method' object has no attribute 'Message'

In [0]:
a = 3+5
b = 9-5
c = 2*4
d = 10/4
e = 3//2
t = 3 **2
print (a)
print (b)
print (c)
print (d)
print (e)
print (t)

8
4
8
2.5
1
9

In [0]:
num = 10.67
num1 = 20
num1 =  num  
print(round(num))

11

In [0]:
num = 15
num1 = 20
if num <= num1 ;
print (num)

SyntaxError: invalid syntax (<ipython-input-49-fa3ae2b5bbbe>, line 3)

## Print Statement

In [0]:
j = 25

In [0]:
j

25

In [0]:
my_list = [1,2,3,4,5,6]
my_tuple = (1,2,3,4,5,6)

In [0]:
print(my_tuple)

(1, 2, 3, 4, 5, 6)